* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    list-style: none;
    text-decoration: none;
  }
  
  header {
    display: flex;
    width: 100%;
    height: 7vh;
    justify-content: space-between;
    margin-top: 3vh;  
    margin-bottom: 1vh;
    border-bottom: 1px solid rgb(210, 206, 206);
  }
  
  a:hover {
    cursor: pointer;
  }
  
  header img {
    padding-left: 8vw;
    width: 66px;
    height: 44px;
  }
  
  .header-nav {
    display: flex;
    width: 70vw;
    justify-content: space-around;
    align-items: center;
  }
  
  .header-nav a:hover {
    color: #4682b4;
  }
  
  
  footer {
    height: 30vh;
    width: 100%;
    background-color: black;
    margin-top: 250px;
  }
  
  footer > ul {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 75%;
  }
  
  footer > ul > li > a {
    color: white;
  }
  
  footer > ul > li > a:hover {
    color: #c0c0c0;
  }
  